h2 {color:red
}
h1 {margin-left: 30%;}
h1{color: yellow;}
h3 {color:deeppink
}
h4 {color:darkgreen
}
h5 {color:blue
}
p {font-size:150%;}
p {text-align:center;}
h6 {color:brown}
#mario {margin-left:60%;}
h2 {margin-left:40%;}
#ml {margin-left:25%;}
h3 {margin-left: 40%;}
#pr {margin-left: 25%;}
h4 {margin-left: 40%;}
#bs {margin-left: 25%;}
h5 {margin-left: 40%;}
#cog {margin-left: 25%;}
h6 {margin-left: 40%;}
#gorila {margin-left: 25%;}
#gorila {width: 30%;}
#cog {width: 30%;}
#pr {width: 30%;}
#ml {width: 30%;}
#bs {width: 30%;}
#mario{width:70%;}
h2{font-size: 200%;}
h3 {font-size: 200%;}
h4{ font-size: 200%;}
h5 {font-size: 200%;}
h6 {font-size: 200%;}
h1 {border:(red;}