h2 {color:red
}
h3 {color:deeppink
}
h4 {color:darkgreen
}
h5 {color:blue
}
h6 {color:brown}
#mario {margin-left:50%;}
h2 {margin-left:100%;}
#ml {margin-left:50%;}
h3 {margin-left: 100%;}
#pr {margin-left: 50%;}
h4 {margin-left: 100%;}
#bs {margin-left: 50%;}
h5 {margin-left: 100%;}
#cog {margin-left: 50%;}
h6 {margin-left: 100%;}
#gorila {margin-left: 50%;}
#gorila {width: 35%;}
#cog {width: 25%;}
#pr {width: 25%;}
#ml {width: 25%;}
h2{font-size: 80%;}
h3 {font-size: 80%;}
h4{ font-size: 80%;}
h5 {font-size: 80%;}
h6 {font-size: 80%;}