h2 {color:red
}
h3 {color:deeppink
}
h4 {color:darkgreen
}
h5 {color:blue
}
p {font-size:200%;}
h6 {color:brown}
#mario {margin-left:80%;}
h2 {margin-left:50%;}
#ml {margin-left:80%;}
h3 {margin-left: 50%;}
#pr {margin-left: 8cap;}
h4 {margin-left: 50%;}
#bs {margin-left: 80%;}
h5 {margin-left: 50%;}
#cog {margin-left: 80%;}
h6 {margin-left: 50%;}
#gorila {margin-left: 80%;}
#gorila {width: 20%;}
#cog {width: 30%;}
#pr {width: 30%;}
#ml {width: 30%;}
h2{font-size: 200%;}
h3 {font-size: 200%;}
h4{ font-size: 200%;}
h5 {font-size: 200%;}
h6 {font-size: 200%;}